.card {
  display: block;
  border-radius: 20px;
  /* box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.527); */
  border: 1px solid lightgray;
}

.content {
  border-radius: inherit;
  margin: 3px;
  background-color: white;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
  color: initial;
}

.descriptionSection {
  flex-grow: 1;
}

.label {
  width: 150px;
}

.labelImg {
  width: inherit;
  height: inherit;
  border-radius: 15px;
}

.contentDescription {
  display: inline-block;
}

.title {
  font-size: larger;
}

.description {
  font-size: medium;
  padding: 5px;
}

.date {
  text-align: end;
  padding-top: 5px;
}
