.be-fit {
  background-color: #0068ff;
  color: #0068ff;
  border-color: #0068ff;
}
.be-friendly {
  background-color: #ff76fe;
  color: #ff76fe;
  border-color: #ff76fe;
}
.be-open {
  background-color: #ffb400;
  color: #ffb400;
  border-color: #ffb400;
}
.be-eco {
  background-color: #6fd52e;
  color: #6fd52e;
  border-color: #6fd52e;
}
.be-healthy {
  background-color: #ff3a32;
  color: #ff3a32;
  border-color: #ff3a32;
}
.be-pro {
  background-color: #950cff;
  color: #950cff;
  border-color: #950cff;
}
