.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 40px;
}

.userChar {
  display: inline-block;
}

.tasksContainer {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.548);
}

.tasks {
  max-width: 700px;
  height: 400px;
  overflow: scroll;
  /* border-radius: 10px; */
  /* box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.548); */
}

.achievments {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 100%;
}
